<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
</head>

<body>
    <div layout:fragment="content" class="content-inner chart-cont" style="height:100vh">
        <!--***** CONTENT *****-->
        <div class="row">
            <div class="col-md-12">
                <div class="card form" id="form1">
                    <div class="card-header">
                        <h3>상품 목록</h3>
                    </div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="totalCheckBox"/></th>
                                    <th>No</th>
                                    <th>상품명</th>
                                    <th>판매가</th>
                                    <th>재고수량</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${itemPage.content}" >
                                    <td><input type="checkbox" class="deleteArticleId" name="deleteArticleId" th:value="${item.id}"></td>
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td th:text="${item.stock}"></td>
                                    <td><a class="btn btn-danger" th:href="@{|/admin/items/update/${item.id}|}">수정</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin-bottom: 20px">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${pager.curBlock <= 1} ? disabled">
                                    <a class="page-link" th:href="@{/admin/items(page=0, size=${itemPage.size})}" tabindex="-1">처음</a>
                                </li>
                                <li class="page-item" th:classappend="${pager.curBlock <= 1} ? disabled">
                                    <a class="page-link" th:href="@{/admin/items(page=${pager.prevPage}, size=${itemPage.size})}" tabindex="-1">이전</a>
                                </li>
                                <li class="page-item"
                                    th:if="${itemPage.totalPages > 0}"
                                    th:each="pageNumber : ${pageNumbers}"
                                    th:classappend="${pageNumber == itemPage.number + 1} ? active">
                                    <a class="page-link"
                                       th:href="@{/admin/items(page=${pageNumber - 1}, size=${itemPage.size})}"
                                       th:inline="text">
                                        [[${pageNumber}]]
                                        <span class="sr-only" th:if="${pageNumber == itemPage.number + 1}">(current)</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${pager.curBlock >= pager.totBlock} ? disabled">
                                    <a class="page-link" th:href="@{/admin/items(page=${pager.nextPage}, size=${itemPage.size})}">다음</a>
                                </li>
                                <li class="page-item" th:classappend="${pager.curPage >= pager.totPage} ? disabled">
                                    <a class="page-link" th:href="@{/admin/items(page=${pager.totPage - 1}, size=${itemPage.size})}">끝</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript">

            /*<![CDATA[*/

            /*]]>*/
    </script>
    </th:block>
</body>

</html>