spring:
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  thymeleaf:
    cache: false

  profiles:
    active: local

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  data:
    neo4j:
      open-in-view: false

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

cloud:
  aws:
    stack:
      auto: false
    s3:
      bucket: kobobook
    region:
      static: ap-northeast-2
---
spring:
#  h2:
#    console:
#      enabled: true
  profiles: local
  datasource:
#    platform: h2
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
  #mariadb
    url: jdbc:mariadb://localhost:3306/shop
    username: user1
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
#    database-platform: H2
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true


server:
  ssl:
    enabled: true
    key-store: keystore.p12
    key-store-password: gurwls12
    key-store-type: PKCS12
    key-alias: bns-ssl
  port: 8443
