spring:
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  thymeleaf:
    cache: false

  profiles:
    active: local

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  jpa:
    open-in-view: false
  main:
    allow-bean-definition-overriding: true

cloud:
  aws:
    s3:
      bucket: kobobook
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instance-profile: true

---
spring:
  profiles: local
  h2:
    console:
      enabled: true
  datasource:
    platform: h2
    username: sa
    password:
    driver-class-name: org.h2.Driver
  #mariadb
#    url: jdbc:mariadb://localhost:3306/shop
#    username: user1
#    password: 1234
#    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    database-platform: H2
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

server:
  ssl:
    enabled: true
    key-store: keystore.p12
    key-store-password: gurwls12
    key-store-type: PKCS12
    key-alias: bns-ssl
  port: 8443

---
spring.profiles: set1
spring.profiles.include: real-db

server:
  port: 8081

---
spring.profiles: set2
spring.profiles.include: real-db

server:
  port: 8082

