<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot의 logback 설정은 유지하면서 확장 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 로그 저장 할 위치 -->
    <property name="LOG_DIR" value="/home/ec2-user/app/tomcat-log/kobobook-admin" />
<!--    <property name="LOG_DIR" value="E:/workspace/IDEA_workspace/log/kobobook-admin" />-->

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <file>${LOG_DIR}%d{yyyy-MM-dd}.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 30일 전 까지의 로그만 저장 -->
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender" />
    </root>

</configuration>