{{> module/header}}

<!--====================================================
                        PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        {{> module/sidebar}}

        <div class="content-inner chart-cont" style="height:100vh">

            <!--***** CONTENT *****-->     
            <div class="row">

            </div> 

        </div>
    </div> 

    <!--Global Javascript -->
    <script src="{{springMacroRequestContext.request.contextPath}}/js/jquery.min.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/popper/popper.min.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/tether.min.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/bootstrap.min.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/jquery.cookie.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/jquery.validate.min.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/chart.min.js"></script>
    <script src="{{springMacroRequestContext.request.contextPath}}/js/front.js"></script>
    
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart4").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });
    </script>
</body>

</html>